{% extends "employee_register/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <form action="" method="POST" autocomplete="off" class="w-50 mx-auto mt-3"> <!-- Set width and margin auto -->
        {% csrf_token %}
        {{ form|crispy }} <!-- Render form with crispy styling -->
        <button class="btn btn-primary" type="submit" name="employee_update"><i class="fa-solid fa-database"></i>  Register</button>
        <a class="btn btn-secondary" href="{% url 'employee_list' %}"><i class="fas fa-stream"></i>  Back to list</a>
    </form>
   
</div>

{% endblock content %}
